<!DOCTYPE html>
<html>
		<meta charset="utf-8">
      	<title>Résultats Castor 2016</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      	<script src="https://code.angularjs.org/1.5.5/i18n/angular-locale_fr-fr.js"></script>
      	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.js"></script>
      	<script src="schoolResults-2016.js"></script>
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      	<link rel="stylesheet" type="text/css" href="schoolResults.css">
<body>

<script>
var app = angular.module("resultatsCator", ['ui.bootstrap']);
app.controller("mainController", function($scope) {
      		$scope.contestData = contestData;
      		$scope.formInfos = {filter: 'name', category: 'total', region: 'all'};
      		$scope.categories = {
      			'total': 'Tous les niveaux',
      			'primaire': 'Primaire',
      			'college': 'Collège',
      			'lycee': 'Lycée',
      			'lyceepro': 'Lycée pro.'
      		};
      		$scope.regions = {
      			"all": "Toutes les académies",
			    "foreign": "Hors France",
			    "aix-marseille": "Aix-Marseille",
			    "amiens": "Amiens",
			    "besancon": "Besançon",
			    "bordeaux": "Bordeaux",
			    "caen": "Caen",
			    "clermont": "Clermont-Ferrand",
			    "corse": "Corse",
			    "creteil": "Créteil",
			    "dijon": "Dijon",
			    "grenoble": "Grenoble",
			    "guadeloupe": "Guadeloupe",
			    "guyane": "Guyane",
			    "lille": "Lille",
			    "limoges": "Limoges",
			    "lyon": "Lyon",
			    "martinique": "Martinique",
			    "mayotte": "Mayotte",
			    "montpellier": "Montpellier",
			    "nancy-metz": "Nancy-Metz",
			    "nantes": "Nantes",
			    "nice": "Nice",
			    "noumea": "Nouméa",
			    "orleans-tours": "Orléans-Tours",
			    "paris": "Paris",
			    "poitiers": "Poitiers",
			    "rouen": "Rouen",
			    "reims": "Reims",
			    "rennes": "Rennes",
			    "reunion": "La Réunion",
			    "strasbourg": "Strasbourg",
			    "toulouse": "Toulouse",
			    "versailles": "Versailles",
			    "polynesie": "Polynésie française"
			};
      		$scope.grades = {
      			4: "CM1",
      			5: "CM2",
      			6: "6e",
      			7: "5e",
      			8: "4e",
      			9: "3e",
      			10: "2nde",
      			11: "1e",
      			12: "terminale",
      			13: "2nde pro.",
      			14: "1e pro.",
      			15: "terminale pro.",
      		};
      		$scope.filters = {
      			'name': {'name': 'Nom', 'field': 'name'},
      			'city': {'name': 'Ville', 'field': 'city'},
      			'zipcode': {'name': 'Code Postal', 'field': 'zipcode'},
      			'total': {'name': 'Nombre total de participants', 'field': '-contestantData.total'},
      		};
      		angular.forEach($scope.categories, function(categoryName, categoryId) {
      			if (categoryId == 'total') return;
      			$scope.filters['category-'+categoryId] = {'name': 'Nombre de participants en '+categoryName, 'field': '-contestantData.'+categoryId};
      		});
      		angular.forEach($scope.grades, function(gradeName, gradeNum) {
      			$scope.filters['grade-'+gradeNum] = {'name': 'Nombre de participants en '+gradeName, 'field': '-contestantData['+gradeNum+']'};
      		});
});
</script>
<!--<div id="content">
<div id="mainbar">-->
	<div ng-app="resultatsCator" ng-controller="mainController" id="academies_results">
		<div class="form-group form-inline">
			<label for="region">Académie :</label>
			<select class="form-control" id="region" ng-model="formInfos.region" ng-options="region as regionLabel for (region, regionLabel) in regions">
			</select>
		</div>
		<div class="form-group form-inline">
			<label for="filter">Critère de tri :</label>
			<select class="form-control" ng-model="formInfos.filter" ng-options="filterId as filter.name for (filterId, filter) in filters">
			</select>
		</div>
		<div class="btn-group">
			<label ng-repeat="(categoryId, categoryName) in categories" ng-model="formInfos.category" uib-btn-radio="'{{categoryId}}'" class="btn btn-default">{{categoryName}}</label>
		</div>
		<table class="table">
			<caption>Résultats :</caption>
			<thead>
			<tr>
				<th rowspan=2>Nom</th>
				<th rowspan=2>Ville</th>
				<th colspan="18" class="text-center">Nombre de participants</th>
			</tr>
			<tr>
				<th>Total</th>
				<th ng-if="formInfos.category != 'total'">Dans le niveau</th>
				<th ng-if="formInfos.category == 'total'">Primaire</th>
				<th ng-if="formInfos.category == 'total'">Collège</th>
				<th ng-if="formInfos.category == 'total'">Lycée</th>
				<th ng-if="formInfos.category == 'total'">Lycée pro</th>
				<th ng-if="formInfos.category == 'primaire'">CM1</th>
				<th ng-if="formInfos.category == 'primaire'">CM2</th>
				<th ng-if="formInfos.category == 'college'">6e.</th>
				<th ng-if="formInfos.category == 'college'">5e.</th>
				<th ng-if="formInfos.category == 'college'">4e.</th>
				<th ng-if="formInfos.category == 'college'">3e.</th>
				<th ng-if="formInfos.category == 'lycee'">2nde</th>
				<th ng-if="formInfos.category == 'lycee'">1e</th>
				<th ng-if="formInfos.category == 'lycee'">Terminale</th>
				<th ng-if="formInfos.category == 'lyceepro'">2nde pro.</th>
				<th ng-if="formInfos.category == 'lyceepro'">1e pro.</th>
				<th ng-if="formInfos.category == 'lyceepro'">Terminale pro.</th>
			</tr>
			</thead>
			<tbody>
		  	<tr ng-repeat="school in contestData[formInfos['region']] | orderBy : ['!' + filters[formInfos['filter']].field, filters[formInfos['filter']].field]" ng-if="school.contestantData[formInfos.category]">
		    	<td>{{ school.name }}</td>
		    	<td>{{ school.zipcode + ' ' + school.city }}</td>
		    	<td>{{ school.contestantData.total }}</td>
				<td ng-if="formInfos.category != 'total'">{{ school.contestantData[formInfos.category] }}</td>
				<td ng-if="formInfos.category == 'total'">{{ school.contestantData.primaire }}</td>
				<td ng-if="formInfos.category == 'total'">{{ school.contestantData.college }}</td>
				<td ng-if="formInfos.category == 'total'">{{ school.contestantData.lycee }}</td>
				<td ng-if="formInfos.category == 'total'">{{ school.contestantData.lyceepro }}</td>
		    	<td ng-if="formInfos.category == 'primaire'">{{ school.contestantData[4] }}</td>
		    	<td ng-if="formInfos.category == 'primaire'">{{ school.contestantData[5] }}</td>
		    	<td ng-if="formInfos.category == 'college'">{{ school.contestantData[6] }}</td>
		    	<td ng-if="formInfos.category == 'college'">{{ school.contestantData[7] }}</td>
		    	<td ng-if="formInfos.category == 'college'">{{ school.contestantData[8] }}</td>
		    	<td ng-if="formInfos.category == 'college'">{{ school.contestantData[9] }}</td>
		    	<td ng-if="formInfos.category == 'lycee'">{{ school.contestantData[10] }}</td>
		    	<td ng-if="formInfos.category == 'lycee'">{{ school.contestantData[11] }}</td>
		    	<td ng-if="formInfos.category == 'lycee'">{{ school.contestantData[12] }}</td>
		    	<td ng-if="formInfos.category == 'lyceepro'">{{ school.contestantData[13] }}</td>
		    	<td ng-if="formInfos.category == 'lyceepro'">{{ school.contestantData[14] }}</td>
		    	<td ng-if="formInfos.category == 'lyceepro'">{{ school.contestantData[15] }}</td>
		  	</tr>
		  	</tbody>
		</table>
	</div>
<!--</div>
</div>-->
</body>
</html>
